@import 'vendor/fonts';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  -moz-font-feature-settings: “liga” on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Optima', Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-feature-settings: “liga” on;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
  padding: 4rem 0 3rem;
  text-rendering: optimizeLegibility;
}

a {
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
    linear-gradient(#000, #000);
  background-position: 0% 90%, 100% 90%, 0% 90%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  color: inherit;
  text-decoration: none;
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff,
    -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff,
    -0.15em 0 #fff;
}

h1 {
  a {
    background-image: none;
  }
}

img {
  margin-bottom: -1rem;
  width: 100%;
}

h1,
h2,
p,
ul,
ol,
blockquote,
.prev-next {
  margin: 0 auto;
  max-width: 76rem;
}

h1,
h2 {
  font-family: 'Antique Olive';
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: -1.6rem;
}

h2 {
  font-size: 1.9rem;
  margin: 1.8rem auto -1rem;
}

p,
ul,
ol,
pre {
  padding: 1.6rem 0;
}

code {
  color: rgb(20, 20, 20);
  font-family: 'Source Code Pro', Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal,
    monospace;
  font-size: 2rem;
  font-weight: 500;
}

pre {
  background: rgb(250, 250, 250);
  margin: 1.4rem 0;
  overflow-x: scroll;

  code {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 auto;
    max-width: 76rem;
    overflow-x: visible;
  }
}

blockquote {
  border-left: 3px solid rgb(240, 240, 240);
  box-sizing: border-box;
  font-style: italic;
  margin: 1.6rem auto;
  padding: 0 0 0 3rem;

  p {
    :first-of-type {
      padding-top: 0;
    }

    :last-of-type {
      padding-bottom: 0;
    }
  }
}

hr {
  background: rgb(0, 0, 0);
  border: 0;
  height: 2px;
  margin: 5rem auto 6.5rem;
  width: 8rem;
}

.prev,
.back,
.next {
  background-image: none;
}

.back {
  display: inline-block;
  left: 50%;
  margin-left: -1rem;
  position: absolute;
  text-align: center;
  width: 2rem;
}

.prev-next {
  padding: 3rem 0;

  ::after {
    clear: both;
  }
}

.prev {
  float: left;
}

.next {
  float: right;
}

.hljs-keyword {
  font-weight: 500;
}

.hljs-string {
  color: rgb(150, 150, 150);
}

.hljs-comment {
  color: rgb(190, 190, 190);
}

@media screen and (max-width: 920px) {
  body {
    font-size: 19px;
    padding-left: 80px;
    padding-right: 80px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: -1.4rem;
  }

  h2 {
    font-size: 1.7rem;
    margin: 1.4rem auto -0.8rem;
  }

  p,
  ul,
  ol,
  pre {
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;
  }

  code {
    font-size: 1.8rem;
  }

  pre {
    margin: 1.2rem -80px;
    padding-left: 80px;
    padding-right: 80px;

    code {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 660px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
  }

  pre {
    margin: 1.2rem -50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: -1.4rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 1.2rem auto -0.8rem;
  }

  p,
  ul,
  ol,
  pre {
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;
  }

  code {
    font-size: 1.6rem;
  }

  pre {
    margin: 1rem -30px;
    padding-left: 30px;
    padding-right: 30px;

    code {
      font-size: 1.5rem;
    }
  }

  hr {
    margin: 4rem auto 5.5rem;
  }
}
